{% extends 'customer/main.html '%}

{% block content %}



    <div class="container">
      

            <div class="card card-body">
                

 <h3><span class="badge badge-secondary">Welcome To The Online Business Licensing Services</span></h3>
              <div class="alert alert-warning">
    <a href="#" class="alert-link">In order to use the system for Applying for a Business License you need to be registered with the system.</a>
                </div>

                <h4>For Registration With The System You Need To</h4>
                <p>a. Have a Valid and active Email Address; and</p>
                <p>b.  Valid and Active phone number.</p>

                <h4>Pre-Requisite For Applying And Obtaining A Business License</h4>
                <h6>In order to apply for a Business, the Applicant need to have the scanned copy of the following documents</h6>
                <p>a. Lease Agreement or Title deed in the name of the applying entity as a proof of having a business Premise;</p>
                <p>b. Certificate of Incorporation for a Company or a Certificate of Registration for a Business Name;</p>
                <p>c. Tax Identification Number (TIN);</p>
                <p>d. Company Shareholders or Business Partners Identifications cards such as Passport ID, Birth Certificate, Voters ID, National ID for Tanzania Citizens OR Residency Permit Class “A” for Shareholders OR Residency Permit Class “B” for Directors for Non-Citizens staying in Tanzania;</p>
                <p>e. Sector Permit for Businesses Regulated by Sector Ministry, Authorities or Agencies from the Respective Agencies (Provide Link to a Content Document for the Sectors).</p>










            </div><!--card card-body-->
       





      
    </div><!--container-->

{% endblock %}