{% extends 'customer/main.html '%}



{% block content %}
{% load static %}
<br>

<div class="container">

	<h1>Obtain A Business License</h1>
	<p>The Business Licensing Act No. 25 of 1972 is the Main Act for Business Licensing Processes in Tanzania. The Act requires that No Entity is required to operate a Business in Tanzania without being a Holder of a Valid Business License issued by the Respective Authority. In Tanzania, Business Licenses are issued by two Authorities namely Business Registration and Licensing Agency for Class “A” Business Licenses and Local Government Authorities (LGAs) for Class B Licenses.</p>


	<h1>Pre-requisite for Obtaining a Business License.</h1>
	<p>For Any Entity to Obtain a Business License, it should have:-</p>
	<p>Acquired a Business Premise by Renting or Owning a Premise
Register a Company or a Business Name to the Business Registration and Licensing Agency (BRELA)</p>
<p>Register for Tax Identification Number (TIN) to Tanzania Revenue Authority (TRA) (Link to TRA website be provided)
Register to the Sector Ministry/ Agency for the Permit to operate in the sector
Apply for a Business License at Ministry of Industry Trade and Investment (MITI) of Local Government Authorities (LGAS) (Link to the Sector and Business License type Schedule)
Pay for the Business License Fee depending on the type of Business (Link to The Business License Fee Schedule) Fees is paid through Bank</p>
<p>Application Requirements for Business License Issued under Ministry of Industry Trade and Investment and Local Government Authorities (District, Town/Municipal or City Councils):

 

Fill the Business License Application Form (TFN 211) (Online Link be Provided and/ or Downloadable PDF Form)
Attach photocopy of Certificate of incorporation (in case of a Company) or Certificate of Registration and Extract in case of Business Names,
Attach a Photocopy of Memorandum and Articles of Association showing among other things that objects of the company allows it to do the business which is being applied, Directors and Shareholders of the Company;
Proof of Tanzania citizenship by attaching -Photocopy of passport, birth certificate or Affidavit, and in case of non-citizens attach a photocopy of Residence Permit Class A" -showing the holder to be investor in that company/business,
In case the shareholders of the company are non-residents, Powers of Attorney to citizen/Residence should be submitted/attached,
Proof by the applicant having a suitable business premises for the business applied. The following can be submitted as a proof, a copy of title deed, Tenancy agreement etc,
Proof of Registration for Tax Payment from TRA by attaching a copy of TIN Certificate and Business License Tax Clearance Certificates;
Proof of Registration and/ or Permit from the Sector Regulating Authority such as</p>

<p>
<strong>Tourist Agency License (TAL)</strong> from the Ministry of Tourism and Natural Resources for Businesses of Tourist Hotels and Lodges, Tourist Agents, Tour Operators, Car Rental, Car hire, Hunting Safaris, Photographic Safaris, Tourist Camp sites, Travel Agents/ Air ticketing, Tour Guides, Mountain Climbing, Balloon Safaris, Handling Agents, Curio shops, Air charter services (check with TCAA)</p>	


<p><strong>Insurance Licenses</strong>from Tanzania Insurance Regulatory Authority (TIRA) for businesses of Insurance and Assurance, Insurance Brokers, Insurance Agents, Underwriting and Loss Assessment,  </p>

<p><strong>Banking License from Bank of Tanzania (BOT)</strong>for businesses of Banking, Bureau De Change and Microfinance Institutions.</p>

<p><strong>Capital Exchange and Stock</strong>Licenses from Capital Market and  Security Authority (CMSA) for businesses of Stock Exchange Broker,</p>

<p><strong>Telecommunication and Broadcasting Licenses from Tanzania Communication Regulatory Authority (TCRA)</strong> for the Businesses of Telecommunication equipments and Services,  Postal and Courier Services, Radio and Television Broadcasting (Frequency User Licenses) , Internet Service Providers, Internet cafe, Network facilities, Network services, Application Services, Content Services, Installation and Maintenance of Telecoms, Import and Distribution of Telecom equipments and Numbering Resources.</p>
<p>Shipping License from Tanzania Shipping Agencies Corporation (TASAC) for the Businesses of Shipping, Shipping Agents, Port and Harbour Operators, Cargo Tallying and Evaluation, Cargo Handling and Water Sport Facilities;
Land Transport License from Surface and Marine Transportation Regulatory Authority (SUMATRA) for the Businesses of Railway Operators, Freight Forwarders, Cargo Consolidation and De-consolidation, Railway transportation, Transportation of Goods by Road and Transportation of Passengers by Road.
Air Worthiness Certificate and Permits  from Tanzania Civil Aviation Authority (TCAA) for the Businesses of Air Transportation services, Air Charter, Aerial Work services, Air Balloon Services and Ground Handling Services
Merchant License from Tanzania Ports Authority (TPA) for the Businesses of Ship Chandlers, Miscellaneous Port Services and Stevedoring and Lighterage;
Electricity License from Energy and Water Utility Regulatory Authority (EWURA) for the Businesses of Electricity production and Supply, Electrical Contractors, Electricity Standby generators provision.
Petroleum Dealers License from Energy and Water Utility Regulatory Authority (EWURA) for the Businesses of Refining Crude oil, Import and Sale of Petroleum Products, Wholesale of Petroleum Products and Retail sale of Petroleum Products;
Water Dealers License from Energy and Water Utility Regulatory Authority (EWURA) for the Businesses of Water Production and Supply, Water sewerage services, Water sales and Marketing, Sewerage Transmission and Disposal.
Water Drilling Permit from Ministry of Water and Irrigation for Businesses of Water Drilling and Supply;
Gaming License from the Gaming Board of Tanzania for the Businesses of Casino, Slot Machines, Lotteries and Betting Games, Manufacture of Gaming equipments, Sale and Distribution of Gaming Equipment and Accessories;
Ammunition Dealers License from Tanzania Policy and Defence Force (TPDF) for the Business of Dealing or Selling of Arms and Ammunition;
Crop Board Permits from the respective Crop Boards for the businesses of dealing with Agricultural Crops Such as Cashew, Cotton, Sisal, Tea, Coffee, Pyrethrum
Export permits From the Ministry of Agriculture, Livestock and Fisheries for the business of exporting such products.
Professional Certificates from the Respective Professional Boards for businesses of providing Professional works such as Contractors  (Contractors Registration Board), Engineering (Engineers Registration Board),  running hospitals, dispensaries; advocates, engineers, pilots, ship captains etc.
 </p>


</div>











{% endblock %}