{% extends 'customer/main.html '%}

{% block content %}
<div class="container">
	








<div class="row">
	
	<div class="col-md-8">
		

<span class="spinner-border"></span>
<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<div class="progress">
  <div class="progress-bar progress-bar-striped bg-warning" style="width:50%">50%</div>
</div>
<form method="post">

	{% csrf_token %}
	<div class="form-group">
		{{form}}
	</div>


	<div class="form-group">

        <button type="submit" name="Update password" class="btn btn-success">Send Email</button>

	</div>


</form>


	</div><!--col-md-8-->



	<div class="col-md-4">
		
<div class="spinner-border text-muted"></div>
<div class="spinner-border text-primary"></div>
<div class="spinner-border text-success"></div>
<div class="spinner-border text-info"></div>
<div class="spinner-border text-warning"></div>
<div class="spinner-border text-danger"></div>
<div class="spinner-border text-secondary"></div>
<div class="spinner-border text-dark"></div>
<div class="spinner-border text-light"></div>

	</div><!--col-md-4-->


</div><!--row-->



<script type="text/javascript">
  var form_fields = document.getElementsByTagName('input')
  form_fields[0].placeholder='Enter email';
  form_fields[1].placeholder='Enter email';
  form_fields[2].placeholder='Enter email';


for (var field in form_fields){
    form_fields[field].className += 'form-control '

  }

</script>












</div>

<!--
<form method="post">
	
	{% csrf_token %}

	{{form.password1}}
	{{form.password2}}
	<input type="submit" name="Update password">

</form>
-->

{% endblock %}