{% extends 'staff/main.html '%}

{% block content %}


  <div class="container">
    <div class="row">


      <div class="col-md-4">

        <div class="card mx-auto">
          <img class="card-img-top mx-auto" style="width:60%;" src="{{request.user.customer.profile_pic.url}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Profile Info</h4>
            <p class="card-text"><i class="fa fa-user">&nbsp;</i>Name: {{request.user}}</p>
            <p class="card-text"><i class="fa fa-user">&nbsp;</i>Department : Business</p>
            
            

            <p class="card-text"></p>
          </div>
        </div>
      </div>





      <div class="col-md-8">
        <div class="jumbotron">
          <h1>Welcome {{request.user}}</h1>
          <div class="row">
            <div class="col-sm-6">
              <iframe src="" frameborder="0" width="160" height="160"></iframe>

            </div>
            <div class="col-sm-6">
              <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">New Request(s)</h4>
                    <p class="card-text"></p>
                    <a href="{% url 'new-request' %}" class="btn btn-success">Attend</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <p></p>
  <p></p>



  <div class="container">
    <div class="row">



      <div class="col-md-4">

      </div>



      <div class="col-md-4">

      </div>




      <div class="col-md-4">

      </div>
    </div>
  </div>







<script type="text/javascript">
  var form_fields = document.getElementsByTagName('input')

    for (var field in form_fields){
    form_fields[field].className += 'form-control'
    form_fields[field].required;
  }
</script>


{% endblock %}